@model WebAppComercioEletronico.Models.Usuario

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Manga Shop - Registro</title>
    <link href="~/Content/Registro.css" rel="stylesheet" />
</head>

<body>
    <form action="@Url.Action("perfil", "Perfil")">
        
        <h1>Registrar-se</h1>
        
        <label>Nome completo<input type="text" class="barra_texto" required /></label>

        <label>E-mail<input type="email" class="barra_texto" required /></label>

        <label>CPF<input type="text" class="barra_texto" required /></label>

        <label>Senha<input type="password" class="barra_texto" required /></label>

        <p id="aviso"><a href="@Url.Action("login", "Login")">Já tem uma conta? Faça login!</a></p>

        <button type="submit" id="registrar">Registre-se</button>

    </form>

</body>


