/*Main*/

main{
    width: 90%;
    height: 34.5em;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 15px -5px #1a1a1a;
    background-color: #fefefe;
    padding: 2em;
    display: flex;
}
main a{
    transition: 0.3s;
}
main button{
    transition: 0.3s;
}
main form{
    width: 30.5%;
    margin: 0 auto;
    margin-top: 3em;
}
main form h1{
    margin-bottom: 1em;
}
main form label{
    font-size: 19px;
}
#avisos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}
#avisos a{
    color: #f28a3c;
}
#avisos a:hover{
    color: #1a1a1a;
}
.barra_texto{
    background-color: #f5f5f5;
    width: 30em;
    height: 2.3em;
    border: 0;
    font-size: 16px;
    padding: 0.3em 1em 0.3em 1em;
    margin: 1em 0 1em 0;
    border: none;
    outline: none;
}
#entrar {
    font-size: 18px;
    cursor: pointer;
    padding: 0.5em 2.6em 0.5em 2.6em;
    margin-top: 2em;
    border: none;
    background-color: #f28a3c;
    color: #1a1a1a;
}
#entrar:hover{
    background-color: #ec7122;
}
