@model UserModel

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/carrinho.css")" />
</head>

@await Component.InvokeAsync("Carrinho")
<div>
    <button onclick="document.getElementById('id01').style.display='block'" id="botao_comprar">Fechar pedido</button>
</div>
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content" action="/action_page.php">
        <div class="container">
            <h1>Realizar compra</h1>
            <p>Compras em dinheiro devem ser combinadas com o vendedor e não tem suporte da plataforma.</p>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="pix">Pagamento em PIX</button>
                <a onclick="document.getElementById('id01').style.display='none'" class="dinheiro" href="conversas.html">Pagamento em dinheiro</a>
            </div>
        </div>
    </form>
</div>