@model UserModel;
@{
    ViewData["title"] = " - Perfil";
}

<head>
    <link rel="stylesheet" href="~/css/perfil.css" />
</head>

        
    @await Component.InvokeAsync("Information")
    
            <section id="seus_produtos">
                <h1>Seus Produtos</h1>
                    

                    <div id="seus_produtos_corpo">
                        
                        <div id="produtos">
                @await Component.InvokeAsync("Products")
                            
                        </div>

                        <div id="botoes">
                            <a href="" id="laranja_botao">Visualizar todos</a>
                            <a asp-controller="Product" asp-action="Create">Registrar Produtos</a>
                            <a href="">Conversas</a>
                        </div>
                    </div>
            </section>
        </div>
