@model CarrinhoCompraVw

<div class="container">
    <div>
        <h2>Seu Carrinho de compras:</h2>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th class="text-right">Preço</th>
                <th class="text-right">SubTotal</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItems)
            {
                <tr>
                    <td class="text-left">@item.ProductModel.Title</td>
                    <td class="text-center">@item.ProductModel.Value</td>
                    <td class="text-right">
                        <a asp-controller="CarrinhoCompras" asp-action="RemoverItem" asp-route-id="@item.ProductModel.Id">
                            Remover Item
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total: </td>
                <td class="text-right">@Model.CarrinhoTotal.ToString("c") </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="text-right">
    <div class="btn-group">
        <a asp-controller="Pedido" asp-action="Checkou" class="btn btn-outline-success">Concluir Pedido</a>
        &nbsp;&nbsp;
        <a asp-controller="Produtos" asp-action="Index" class="btn btn-outline-primary">Continuar Comprando</a>
    </div>
</div>