@model CarrinhoCompraVw

@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 1)
{
    <a asp-controller="CarrinhoCompras" asp-action="Index">
        Carrinho
    </a>
    <span style="color:yellow">
        @Model.CarrinhoCompra.CarrinhoCompraItems.Count
    </span>
}