@model List<ProductModel>

@foreach (var product in Model)
{
    <div class="produto">
        <a href="">
            <div class="imagem_produto">
                <img src="@Url.Content("~/imagens/mangas.png")" />
            </div>
            <div class="detalhes_produto">
                <h3>@product.Title</h3>
                <p>R$ @product.Value</p>
            </div>
        </a>
    </div>
}

