@model List<ProductModel>


@if (Model.Count == 0) 
{
    <div class="produto">
    <p>Você não possui produtos</p>
    </div>
} else {
    @foreach (var product in Model){
    <div class="produto">
        <a asp-route-id="@product.Id" asp-controller="Product" asp-action="Index">
            <div class="imagem_produto">
                <img src="~/imagens/@product.ImagePath" />
            </div>
            <div class="detalhes_produto">
                <h3>@product.Title</h3>
                <p>R$ @product.Value</p>
            </div>
        </a>
    </div>
    }
}