@model WebAppComercioEletronico.Models.Usuario

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Shop - Perfil</title>
    <style>
        

        /* clears the ‘X’ from Internet Explorer */
        input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
        input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
        /* clears the ‘X’ from Chrome */
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration { display: none; }

        *{
            margin: 0;
            padding: 0;
            font-family: 'MADE INFINITY PERSONAL USE', sans-serif;
            font-weight: normal;
            font-style: normal;
        }
        body{
            background-image: url(imagens/fundo.png);
            color: #1d1d1d;
            font-size: 16px;
        }

        /*Header*/

        header{
            box-shadow: 0 0 15px #1a1a1a;
        }
        nav div{
            display: flex;
        }
        nav div ul{
            display: inherit;
            list-style: none;
        }
        #header_cima{
            background-color: #ec7122;
            height: 100px;
            justify-content: center;
            z-index: 1;
            position: relative;
            box-shadow: 0 0 15px #c76e2a;
        }
        #header_cima ul{
            margin-top: 2.2em;
        }
        #header_cima ul li{
            margin-left: 4em;
        }
        #header_baixo{
            background-color: #f28a3c;
            height: 2.8em;
            z-index: 2;
        }
        #header_baixo ul{
            margin-top: 10px;
            justify-content: center;
            margin-left: 35.7em;
        }
        #header_baixo li{
            justify-content: center;
            margin-right: 8em;
        }
        header ul li a:hover{
            color: #1a1a1a;
        }
        header a{
            color: #f5f5f5;
            text-decoration: none;
        }
        #logo{
            margin-right: 4em;
        }
        #logo img{
            width: 120px;
            margin-top: 5px;
        }
        #barra_pesquisa{
            display: inherit;
            flex-wrap: wrap;
            background-color: #f5f5f5;
            height: 2.8em;
            margin-top: 1.5em;
            margin-right: 2em;
            box-shadow: 0 5px 15px #c26c2b;
        }
        #barra_pesquisa input{
            background-color: #f5f5f5;
            width: 35em;
            height: 2.3em;
            border: 0;
            margin-top: 2px;
            margin-left: 15px;
            margin-right: 7px;
            font-size: 17px;
            border: none;
            outline: none;
        }
        #barra_pesquisa button{
            background-color: #f5f5f5;
            height: 3.3em;
            border: 0;
        }
        #barra_pesquisa button:hover{
            cursor: pointer;
        }
        #barra_pesquisa button img{
            width: 30px;
            margin-top: 2px;
            padding-right: 0.5em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        #lista_desejos{
            margin-left: 13.6em;
        }

        /*Main*/

        main{
            width: 80%;
            margin: 0 auto;
            margin-top: 2em;
            margin-bottom: 2em;
            box-shadow: 0 0 15px -5px #1a1a1a;
            background-color: #fefefe;
            padding: 2em;
        }
        h1{
            font-size: 30px;
        }
        #icone{
            text-align: center;
        }
        #icone button{
            cursor: pointer;
            background-color: #fefefe;
            border: 0;
        }
        #nao_icone{
            display: grid;
            grid-template-columns: 52% 42.3%;
            grid-template-rows: 300px 400px;
            grid-gap: 1.5em;
            margin-left: 3.5em;
            margin-top: 2em;
        }
        #informacoes_perfil{
            background-color: #f5f5f5;
            padding: 2.2em;
            padding-left: 1em;
            padding-bottom: 1em;
            grid-area: 1 / 1 / 2 / 2;
        }
        #informacoes_perfil div.cabecalho{
            display: flex;
            justify-content: space-between;
            margin-left: 1.2em;
            margin-bottom: 1em;
        }
        .botoes_fofos{
            margin-top: 4px;
            margin-right: 1.5em;
            text-align: center;
            background-color: #f28a3c;
            color: #1a1a1a;
            text-decoration: none;
            padding: 0.5em 3em 0.5em 3em;
        }
        #cabecalho a:hover{
            background-color: #ec7122;
        }
        .dados{
            text-align: left;
            font-size: 18px;
        }
        .dados th{
            padding: 0 1em 0 1em;
        }
        #seguranca{
            background-color: #f5f5f5;
            padding: 2.2em;
            padding-bottom: 1em;
            padding-left: 1em;
            grid-area: 1 / 2 / 2 / 3;
        }
        #seguranca h1{
            margin-left: 0.6em;
            margin-bottom: 0.5em;
        }
        #botoes_seguranca{
            margin-top: 3em;
            margin-left: 1.2em;
        }
        #seus_produtos{
            background-color: #f5f5f5;
            padding: 2.2em;
            padding-bottom: 2.2em;
            grid-area: 2 / 1 / 3 / 3;
        }
        #seus_produtos h1{
            margin-bottom: 0.5em;
        }
        #seus_produtos a{
            color: #1d1d1d;
            text-decoration: none;
        }
        #seus_produtos a:hover{
            color: #f28a3c;
        }
        #seus_produtos img{
            width: 250px;
        }
        #seus_produtos_corpo{
            display: flex;
        }
        #produtos{
            display: flex;
            gap: 2em;
        }
        .produto{
            margin-top: 1em;
            background-color: #fefefe;
        }
        .detalhes_produto{
            padding-left: 1em;
            padding-bottom: 1.5em;
        }
        .detalhes_produto p{
            font-size: 15px;
        }

        #botoes{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 400px;
            margin-top: 1em;
            margin-left: 2.3em;
        }
        #botoes a{
            text-align: center;
            flex: 1;
            width: 400px;
            margin-bottom: 2em;
            padding: 0.8em 1em 0 1em;
            font-size: 18px;
            background-color: #fefefe;
        }
        #botoes a[style="background-color: #f28a3c;"]:hover{
            color: #1a1a1a;
        }
        #botoes a:last-of-type{
            margin-bottom: 0;
        }

        /*Footer*/

        footer{
            background-color: #ec7122;
            color: #f5f5f5;
        }
        footer address{
            padding: 1.5em;
            width: 80%;
            margin: 0 auto;
        }
        footer address div{
            display: flex;
            margin-bottom: 0.3em;
        }
        #contatos{
            width: 45%;
            justify-content: space-between;
        }
        #contatos_2{
            width: 100%;
            justify-content: space-between;
        }
    </style>
</head>
<body>

    <header>

        <nav>

            <div id="header_cima">
                <h1 id="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="imagens/Logo.png" alt="a logo de uma manga com o nome Manga Shop sobre ela" /></a>
                </h1>

                <form action="pesquisa.html" id="barra_pesquisa">
                    <input type="search" name="pesquisa" placeholder="Falar queles cara anula toda a barbaridade que eu acabei de dizer?" />
                    <button type="submit"><img src="imagens/lupa.png" /></button>
                </form>

                <ul>
                    <li><a href="@Url.Action("Index", "login")">Bem-vindo, Esfarrapo!</a></li>
                </ul>

            </div>

            <div id="header_baixo">
                <ul>
                    <li><a href="cadastro_produto.html">Vender</a></li>
                    <li><a href="">Suporte</a></li>
                    <li><a href="conversas.html">Conversas</a></li>
                    <li id="lista_desejos"><a href="lista_desejos.html">Lista de Desejos</a></li>
                </ul>
            </div>

        </nav>

    </header>

    <main>
        <div id="icone">
            <button type="menu">
                <svg height="110" width="110">
                    <defs>
                        <clipPath id="icone_perfil">
                            <circle cx="50" cy="50" r="50" stroke="black" stroke-width="3" fill="none" />
                        </clipPath>
                    </defs>
                    <image width="100" height="100" xlink:href="imagens/gato_burro.jpg" clip-path="url(#icone_perfil)" />
                </svg>
            </button>
        </div>

        <div id="nao_icone">
            <section id="informacoes_perfil">

                <div class="cabecalho">
                    <h1> Dados Pessoais</h1>
                    <a class="botoes_fofos" href="">Editar perfil</a>
                </div>

                <table class="dados">
                    <tr>
                        <th>Nome Completo:</th>
                        <th>Esfarrapo da Silva Júnior</th> <!-- Banco de dados-->
                    </tr>
                    <tr>
                        <th>Celular:</th>
                        <th>+55 (84) 0000-0000</th> <!-- Banco de dados-->
                    </tr>
                    <tr>
                        <th>CPF:</th>
                        <th>000.000.000-00</th> <!-- Banco de dados-->
                    </tr>
                    <tr>
                        <th>Campus:</th>
                        <th>Natal Central</th> <!-- Banco de dados-->
                    </tr>
                    <tr>
                        <th>Curso:</th>
                        <th>Infoweb</th> <!-- Banco de dados-->
                    </tr>
                </table>
            </section>

            <section id="seguranca">
                <h1>Segurança</h1>
                    <table class="dados">
                        <tr>
                            <th>E-mail:</th>
                            <th>rafael.cunha@escolar.ifrn.ed.br</th> <!-- Banco de dados-->
                        </tr>
                        <tr>
                            <th>Senha:</th>
                            <th>********</th> <!-- Banco de dados-->
                        </tr>
                    </table>
                    <div id="botoes_seguranca">
                        <a class="botoes_fofos" href="">Alterar Senha</a>
                        <a class="botoes_fofos" href="">Alterar E-mail</a>
                    </div>
            </section>

            <section id="seus_produtos">
                <h1>Seus Produtos</h1>
                    <div id="seus_produtos_corpo">
                        <div id="produtos">
                            <div class="produto">
                                <a href="">
                                    <div class="imagem_produto">
                                        <img src="imagens/mangas.png" />
                                    </div>
                                    <div class="detalhes_produto">
                                        <h3>Coleção de mangás</h3>
                                        <p>R$ 80000,21</p>
                                    </div>
                                </a>
                            </div>

                            <div class="produto">
                                <a href="">
                                    <div class="imagem_produto">
                                        <img src="imagens/mangas.png" />
                                    </div>
                                    <div class="detalhes_produto">
                                        <h3>Coleção de mangás</h3>
                                        <p>R$ 80000,21</p>
                                    </div>
                                </a>
                            </div>

                            <div class="produto">
                                <a href="">
                                    <div class="imagem_produto">
                                        <img src="imagens/mangas.png" />
                                    </div>
                                    <div class="detalhes_produto">
                                        <h3>Coleção de mangás</h3>
                                        <p>R$ 80000,21</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div id="botoes">
                            <a href="" style="background-color: #f28a3c;">Visualizar todos</a>
                            <a href="">Registrar Produtos</a>
                            <a href="">Conversas</a>
                        </div>
                    </div>
            </section>
        </div>

    </main>

    <footer>

        <address>
            <div id="contatos">
                <p>Contato para suporte: mangashop@suporte.com</p>
                <p>Contato profissional: mangashop@contato.com</p>
            </div>

            <div id="contatos_2">
                <p>CNPJ n.º 00.000.000/0000-00 / Av. Num sei o que num sei o que lá nº 8, Ohio, Natal/RN - CEP 00000-000 - empresa do grupo Manga Shop.</p>
                <p>Copyright © 1799-2023 dorpura.com.br LTDA.</p>
            </div>
        </address>

    </footer>
</body>
</html>


