@model UserModel

<ul>
    <li><a asp-route-id="@Model.Id" asp-controller="User" asp-action="Index">Bem-Vindo, @Model.Name</a></li>
    <li><a asp-controller="Login" asp-action="Quit">Sair</a></li>
</ul>

