@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@model ProductModel;
@{
    ViewData["Title"] = "- Editar";
}


<head>
    <link rel="stylesheet" href="~/css/criar_produto.css" />
</head>


<form  asp-controller="Product" asp-action="Edit" method="post" enctype="multipart/form-data">
    <fieldset id="imagens_produto">
        <input asp-for="Image" class="custom-file-input" id="FLFrontImage" />
    </fieldset>
    <fieldset id="registro_produto">


        <label>Nome do produto</label><input class="barra_texto" type="text" asp-for=Title>

        <label>Descrição do produto</label><input class="barra_texto_2" type="text" asp-for=Description>

        <label>Condição do produto</label>
        <select id="condicao_produto" asp-for=Conservacao>
            <option value="lacrado">Lacrado</option>
            <option value="novo">Novo</option>
            <option value="seminovo">Seminovo</option>
            <option value="gasto">Gasto</option>
            <option value="danificado">Danificado</option>
        </select>

        <label id="preco_produto">Preço</label><input type="number" asp-for=Value />

    </fieldset>
    <button type="submit" id="submeter_produto">Pronto </button>
</form>