@model WebAppComercioEletronico.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Manga Shop - Login</title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>

<body>

    <form action="@Url.Action("perfil", "Perfil")">

        <h1>Login</h1>
    
        <label>E-mail<input class="barra_texto" type="email" placeholder="shaolinmatadordeporco02@email.com" required /></label>
    
        <label>Senha<input class="barra_texto" type="password" placeholder="*******" required /></label>
    
        <div id="avisos">
            <p><a href="">Esqueci minha senha</a></p>
            <p><a href="@Url.Action("registro", "Registro")">Não tem uma conta? Registre-se!</a></p>
        </div>
    
        <button type="submit" id="entrar">Entrar</button>
    </form>

</body>


